body {
    overflow-y: scroll;
}

.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: Consolas, monospace;
    color: white;
    font-size: 14px;
    pointer-events: none;
    border-radius: 2px;
    overflow: hidden !important;
}
